/**
 * General page body styling.
 */

*, ::after, ::before {
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

body {
    margin: 0;   
}

.content-area {
    margin-top: 70px;
    padding-top: 15px;
}

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

.bg-img-full {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
}
