/**
 * Homepage styling.
 */

#homepage-content {
    p {
        font-size: 1em;
        line-height: 1.4em;
    }

    a {
        text-decoration: none;
    }

    .row {
        display: flex;
        flex-flow: row wrap;
        margin-top: 10vh;
    }

    .col {
        flex-basis: 100%;
        max-width: 100%;
        margin-bottom: 5vh;

        #title {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;

            .img-wrap {
                width: 80px;
                height: 75px;
                padding: 10px;
                margin-right: 10px;
                border-left: 5px solid #fb4141;
                background-color: rgba(255, 255, 255, 0.6);
                transition: background-color 0.2s;

                &:hover {
                    background-color: rgba(255, 255, 255, 0.9);
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            
            h1 {
                font-size: 2.25em;
                text-transform: uppercase;
                font-weight: 900;
                line-height: 0.9em;
                margin: 5px 0 0 0;
            }
        }

        #intro {
            text-align: center;
            padding: 0 10px;
            margin-top: 10px;
        }
    }      
}