/**
 * Homepage styling.
 */

#homepage-content {
    .row {
        display: flex;
        flex-flow: row wrap;
        margin-top: 8vh;
    }

    .col {
        flex-basis: 100%;
        max-width: 100%;
        margin-bottom: 5vh;

        h1 {
            font-size: 2.5em;
            text-transform: uppercase;
            font-weight: 900;
            line-height: 0.9em;
            margin: 0;
            text-align: center;

            .underscore {
                display: none;
                position: relative;
                background-color: #000;
                width: 30px;
                height: 10px;
                margin: 0 5px;
            }
        }

        #intro {
            text-align: center;
            padding: 0 15px;
        }
    }
}