/**
 * Responsive styles.
 *
 * Breakpoints: 375px, 425px, 768px, 1024px.
 */

@media screen and (min-width: 375px) {
    #menu-mobile {
        padding: 30px 20px;
    } 
      
}

@media screen and (min-width: 425px) {
    #menu-mobile {
        padding: 40px 30px;
    } 
}

@media screen and (min-width: 768px) {
    #menu-mobile {
        padding: 40px;
    }  
}

@media screen and (min-width: 1024px) {
    .container {
        max-width: 1100px;
    }
    
    #menu-desktop {
        display: flex;
    }

    #navbar-toggle,
    #menu-mobile {
        display: none;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1330px;
        padding-left: 25px;
        padding-right: 25px;
    }
    
}

