
.social-icons {
    a {
        background-color: #c5c5c5;
        color: #fff;
    }
}

#menu-mobile {
    .social-icons {
        max-width: 85%;
        padding-left: 5px;
    
        a {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 42px;
            height: 42px;
            border-radius: 50%;
            margin: 2px;
        }
    }
}