/**
 * Typography styling.
 */

body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, a {
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
}

h1 {
    font-size: 1.8em;
}

#homepage-content {
    p {
        font-size: 1em;
        line-height: 1.4em;
    }
}

a {
    text-decoration: none;
}

.text-gradient-black-red {
    background-image: linear-gradient(to right, #000000, #fb4141);
    -webkit-background-clip: text;;
    -webkit-text-fill-color: transparent;
}

.text-red {
    color: #fb4141;
}


