/**
 * Typography styling.
 */

body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, a {
    font-family: 'Source Sans Pro', sans-serif;
}

.heading-large {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 3em;
}

.text-gradient-black-red {
    background-image: linear-gradient(to right, #000000, #fb4141);
    -webkit-background-clip: text;;
    -webkit-text-fill-color: transparent;
}

.text-center {
    text-align: center;
}

